* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* Geneva */
    line-height: 1.4em;
}

section, div, p, li {
    font-size: 0.9rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1rem;
    margin: 0;
}

body {
}

.dense {
    letter-spacing: -0.4ch;
    padding-right: 0.5ch;
}

.highlight {
    background-color: #a8ff99;
    padding: 0 0.5ch;
    display: inline-block;
}

.contact_type {
    color: #AAA;
}

.contact_type::after {
    content: ':';
}

section.photo {
}

img.photo {
    max-height: 300px;
}

body {
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 0 1fr 245px 1rem;
    grid-template-rows: auto;
}

section, header, footer {
    /*
    border: solid 1px red;
    */
}

header {
    grid-column: 1/5;
}

section.photo {
    grid-column: 3/4;
    grid-row: 2/4;
}

section.profile {
    grid-row: 3/4;
}

section.services, section.profile {
    grid-column: 2/3;
}

section {
    grid-column: 2/4;
}

footer {
    grid-column: 2/5;
}

ul.contacts {
    margin: 0;
    padding: 0 1.5em;
}

ul.contacts {
    list-style-type: none;
}

h1 {
    margin-bottom: 0.5em;
}